body{
    width: 1240px;  
    margin:0 auto;
}
a{
    text-decoration: none;
    color:#fff;
}
@font-face {
    font-family:'Gotham'; /* Гарнитура шрифта */
    src: url(../fonts/Gotham.ttf); /* Путь к файлу со шрифтом */
}
ul{
	list-style: none;	
}
.active{
    background:#ff3366;
}
/*Header & slider*/
header{  
    background-image:url(../img/header_bg_min.jpg);
	background-repeat: no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
    height:685px;//55%?
    margin:0;
    padding:0;
}
.header-background{
	width:100%;
    background:rgba(51,51,51, .97);
    height:inherit;
}
nav{
    height:100px ;
    position:fixed;
    width:1240px;
    background:rgba(51,51,51, .97);
    z-index: 10;
}
nav ul{
    margin-left:34%;
}
nav ul li{
    display: inline-block;
    margin-right:5.5%;;
    margin-top:40px;
    height:25px;
}
nav ul li a{
    text-transform: uppercase;
    font:small arial;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	transition: background 0.5s;
}
nav ul li a:hover, ul li a.selected{
    background:#ff3366;
}
.logo{
	//width:8.4%;
    float:left;
    margin-left:12.5%;
    margin-top: 50px;
}
/*Slider*/
.slider{
	position: relative;
	top:100px;
	height:585px;
	text-align: center;
}
.slide{
	height:inherit;
	position: absolute;
	display: none;
	width: 100%;
}
.slide img{
	height:100%;
	width:100%;
	padding-top:2px;
}
.active-slide{
	display: block;
}
.arrows{
	position:absolute;
	top:300px;
}
.arrow-prev{
	position:relative;
	left:40px;
}
.arrow-next{
	position:relative;
	left:1050px;
}
.slider-dots{
	width: 100px;
	margin: 0 auto;
	position: relative;
	top:50px;
}
.slider-dots li{
	display: inline-block;
	width:10px;
	height:10px;
	border-radius: 50%;
	background: rgba(35,40,47,1);
}
li.active-dot{
	background-color: rgba(109,125,146,1);
}
/*Section #studio*/
.studio{
	background: url(../img/imac_with_gradient.png) no-repeat 135px 125px;
}
.studio-text{
    font-family:'Gotham';
    font-size:17px;
    line-height:22px;
}
.studio-text h3{
    font-size:26px;
    font-family:'Gotham';
    color:#666666;
}
#imac{
   float:left;
   margin:135px 0 0 160px; 
}
.right-text {
    float:right;
    margin:120px 155px 0 0;
}
.left-text {
    clear:both;
    float:left;
    margin:150px 0 0 155px;
}
#video{
    float: right;
    margin:175px 155px 110px 0;
}
.button{
    padding:10px 20px;
    border-radius:5%;
    font-family: 'Gotham';
    font-size:15px;
}
.button-right{
    background: #ff3366;
    box-shadow:0 2px 4px -2px #cc3333;
}
.button-left{
    background: #339966;
    box-shadow:0 2px 4px -2px #009933;
}
.text{
    color:#666666;
}
.red{
    color:#ff3366;
}
.green{
    color:#339966;
}
.studio-line {
    clear:both;
    height:60px;
    background:rgba(51,51,51, .97);
    margin-top:110px;
}
/*Section About_me*/
.about_me {
	background: #f2f2f2;
}
.about_me h3{
	font-size: 28px;
	color:#444e5d;
}
.about_me p {
    font-family:'Gotham';
    font-size:17px;
    color:#999999;
}
.bottom_line {
	font-size:17px;
	border-bottom: 1px solid #cbcbcb;
	padding-bottom: 35px;
	width:420px;
}
.about_me_content {
	float:left;
	margin:85px 0 0 155px;
	width:425px;
	font-family: Gotham;
}
button{
	height:55px;
	width:195px;
	background:#1fab5a;
	border-radius:7px;
	color:#FFF;
	font-family: 'Gotham';
	font-size:19px;
	-webkit-box-shadow:0 3px 0 -2px #279052;
	-moz-box-shadow:0 3px 0 -2px #279052;
    box-shadow:0 3px 0 -2px #279052;
	cursor: pointer;
}
.about_me_content ul li img {
	position: relative;
	top:5px;
}
.tick {
    background: url(../img/tick.png) no-repeat;
    padding-left: 25px;
    height:25px;
    font-family:'Gotham';
    font-size:17px;
	color:#999999;
    margin-bottom: 15px;
}
.copy {
	color:#323a45;
	font-family:'Gotham';
	font-size: 27px;
}
#phone {
	margin:85px 0 90px 205px;
}
/*section blog*/
.text_center{
    font-family:'Gotham';
    font-size:19px;
    width:400px;
    margin:35px auto;
    text-align: center;
}
.text_center h3{
    font-size: 29px;
    color:#444e5d;
}
.text_center p{
    color:#626f81;
    font-size:19px;
}
#blog_img{
    margin:90px 155px 145px;
}
.price {
    background: #f1f1f1;
    height:780px;
}
.column{
    display: inline-block;
    border:1px solid #a6a6a6;
    width:265px;
    height:400px;
    font-family:'Gotham';
    text-align: center;
    margin-right:45px;
}
.column p{
    font-size: 20px;
    color:#999999;
    line-height:22px;
}
.column h3{
    font-size:27px;
    color:#5a677b;
    margin-bottom: 0;
    margin-top:10px;
}
.right-column {
    margin-left:180px;
}
.underline {
    border-bottom:2px solid #dcdcdc; 
    padding-bottom:5px;
    margin-top: 5px;
}
.sign_up {
    margin:10px 0 40px;
}
.price-header {
    padding-top:60px;
    margin-bottom: 90px;
}
.messages {
  margin-top: 55px;  
}
/*Section #works*/
.our_works{
    margin:40px 205px;
    background: url(../img/works_arrow_prev.png) no-repeat 97% 50%,url(../img/works_arrow_next.png) no-repeat right;
    border-bottom: 1px solid #cecdcd;
    text-align: center;
    height:80px;
}
.our_works span{
    font-family:'Gotham';
    font-size: 27px;
    font-weight: bold;
    color:#444e5d;
}
#works-img{
    margin:0 155px 95px;
}
/*Section #contact*/
#contact{
    background:#f1f1f1;
    padding-top:120px;
}
.contact {
    background: #333b46;
    text-align: center;
    height:950px;
}
.contact h3 {
    font-family:'Gotham';
    font-size:27px;
    color:white;
    margin-top:60px;
    margin-bottom:35px;
}
.contact p {
    font-family: 'Gotham';
    font-size:22px;
    color:#dad9d9;
    margin-bottom:55px;
}
#contact_me {
    background:#ff4b5a;
}
/*Footer*/
footer {
    height:105px;
    background:#2a3039;
    margin-top: 0;
}
footer p{
    color:#75777b;
    height:30px;
}
#icons {
    background: url(../img/sprite.png) no-repeat;
    padding-left:165px;
    width: 145px;
    float:left;
    line-height: 25px;
    margin:40px 0 0 150px;
}
#copyright {
    background: url(../img/copyright_img.png) no-repeat;
    padding-left:40px;
    float:right;
    line-height: 30px;
    margin:40px 125px 0 0 ;
}
