body{
    width: 1240px;  
    margin:0 auto;
}
a{
    text-decoration: none;
    color:#fff;
}
@font-face {
    font-family: 'Gotham'; /* Гарнитура шрифта */
    src: url(fonts/VjgZiaJi.ttf); /* Путь к файлу со шрифтом */
}
ul{
	list-style: none;	
}
/*Header & slider*/
header{  
    background:url(img/header_bg_min.jpg);
    height:685px;
    margin:0;
    padding:0;
}
#header-background{
    background:rgba(51,51,51, .97);
    height:inherit;
}
nav{
    height:100px ;
    position:fixed;
    width:1240px;
    background:rgba(51,51,51, .97);
}
nav ul{
    margin-left:410px;
}
nav ul li{
    display: inline-block;
    margin-right:40px;
    margin-top:40px;
    height:25px;
}
nav ul li a{
    text-transform: uppercase;
    font:small arial;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}
nav ul li a:hover{
    background:#ff3366;
}
.selected {
    background:#ff3366;
}
#logo{
    float:left;
    margin-left:155px;
    margin-top: 40px;
}
#slider {
   margin-left:40px; 
}
.slider img{
    margin-top: 145px;
}
/*Section #blog*/
img#imac{
   float:left;
   margin:135px 0 0 165px; 
}
.blog-text h3{
    font-size:26px;
    font-family:'Gotham';
    color:#666666;
}
.blog-text{
    font-family:'Gotham';
    font-size:17px;
    line-height:22px;
}
#left-text {
    float:right;
    width:400px;
    margin:120px 150px 0 0;
}
#right-text {
    float:left;
    width:400px;
    margin:170px 160px 0;
}
img#video{
    clear:right;
    margin:300px 10px 0 -90px;//косяк
}
.button{
    padding:10px 20px;
    border-radius:5%;
    font-family: 'Gotham';
    font-size:15px;
}
.button-right{
    background: #ff3366;
    box-shadow:0 2px 4px -2px #cc3333;
}
.button-left{
    background: #339966;
    box-shadow:0 2px 4px -2px #009933;
}
.text{
    color:#666666;
}
.red{
    color:#ff3366;
}
.green{
    color:#339966;
}
.blog-line {
    height:60px;
    background:rgba(51,51,51, .97);
    margin-top:110px;
}
/*Section About_me*/
.about_me {
	background: #f2f2f2;
}
.about_me h3{
	font-size: 28px;
	color:#444e5d;
}
.about_me p {
    font-family:'Gotham';
    font-size:17px;
    color:#999999;
}
p.bottom_line {
	font-size:17px;
	border-bottom: 1px solid #cbcbcb;
	padding-bottom: 35px;
	width:420px;
}
.about_me_content {
	float:left;
	margin:85px 0 0 155px;
	width:425px;
	font-family: 'Gotham';
}
button{
	height:55px;
	width:195px;
	background:#1fab5a;
	border-radius:7px;
	color:#FFF;
	font-family: 'Gotham';
	font-size:19px;
	box-shadow:0 3px 0 -2px #279052;
	-webkit-box-shadow:0 3px 0 -2px #279052;
	-moz-box-shadow:0 3px 0 -2px #279052;
	cursor: pointer;
	margin-top: 0px;
}
.about_me_content ul li img {
	position: relative;
	top:5px;
}
.about_me_content ul li{
	font-family:'Gotham';
    font-size:17px;
	color:#999999;
	margin-left: -40px;//ещё косяк,почему так?
}
.about_me_content ul {
	margin-top: 20px;
	margin-bottom: 45px;
}
p.copy {
	color:#323a45;
	font-family: 'Gotham';
	font-size: 27px;
}
#phone {
	margin:85px 0 90px 205px;
}
/*Studio*/


